body{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    color: #575252;
    background-color: #fff;
}


.home__intro{
    width: 920px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto 120px auto;
    }


h1 {
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
}

.display__block{
    font-weight: 700;
}



.period{
    height: 12px;
    width: 12px;
    background-color: #9568F3;
    border-radius: 25px;
    display: inline-flex;
    align-items: baseline;
    margin-left: 6px;
    }


.display__block{
    display: block;
}

.home__text__container{
    width: 90%;
}

.about__intro__container{
    width: 500px;
}


.home__intro--img{
    width: 36%;
    border-radius: 250px;
}

.about__description--margin{
    margin-bottom: 32px !important;
}





.margin--bottom{
    margin-bottom:80px
}

img{
    image-rendering: optimizeQuality;
}

a{
    text-decoration: none;
    color:#575252;
}

li{
    list-style: none;
}


ul{
    padding: 0;
}

h2{
    font-weight: 400;
}

.container{
    max-width: 920px;
    margin: 0 auto;
}

.header{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    font-weight: bold;
}


.resources__link{
    font-weight: bold;
    color: #202020;
}

.text__large--caps{
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0 0 24px 0;
}

.text__large--capsbold{
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 16px 0;
}


.text__large{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.text__large--bold{
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
}

p{
    margin: 32px 0;
}

.fritsche__img--oldflow{
    height: 259px;
}



.text__bold{
    font-weight: bold;
}

.gemeinsam__video--oldhome{
    width: 920px;
    margin: 0 auto;
}

.article__singleimage__container--gemeinsamoldhome{
    flex-direction: column;
    align-items: center;
}

.text__purple{
    color: #9249FB;
}

.text--highlight{
    font-style: italic;
    font-weight: bold
}

.casestudies__list__img{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}


nav{
    width: 920px;
    margin: 30px auto 120px auto;
    display: flex;
    justify-content: flex-end;
}



.nav__internal a{
    margin-right: 16px;
}
.nav__internal a:last-child{
    margin-right: 0;
}



.intro__text--cta {
    margin-bottom: 8px;
}

.cta__container{
    margin-top:60px;

}




nav a:hover{
    text-decoration: underline;
}

.nav__home  a{
    margin-right: 16px;
}

.nav__home a:last-child{
    margin-right: 0;

}

/* Intro */

.header--home{
    margin-bottom: 40px;
}







/* Case Studies */
    

.casestudies__list__img--fritsche{
    background-color: #FFC6E1;
}

.casestudies__list__img--fruitly{
    background-color: #D7FFC5;
}

.casestudies__list__img--gemeinsam{
    background-color: #E4E4F8;
}

.casestudies__list__img--YMRT{
    background-color: #FFD7D7;
}

.casestudies__list__img--ui_library{
    background-color: #D5F9E3;

}


.casestudies__list--item{
    max-width: 920px ;
    margin: 0 auto 120px auto;
}



.casestudies__decription{
    display: flex;
    justify-content: space-between;

}

.casestudies__decription--text{
    width: 620px;
}





/* TESTIMONIAL */

.testimonial__title{
    margin-bottom: 60px;
}

.testimonial__testimonial{
    margin-bottom: 60px;
}

.testimonial{
    margin-bottom: 120px;
}


footer{
    background-color: #FDF3FF;
    padding: 32px 0 32px 0;
}


.footer__container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.footer__list__item{
    margin-bottom: 8px;
}

.footer__list__item a:hover{
   text-decoration: underline;
}

.copyright{
    background-color: #FDF3FF;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 24px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.copyright p{
    margin: 0;
}





/* Page case studies */

.article__heroimage{
    width: 100%;
    height: 500px;
    margin-bottom: 80px;
}

.heroimage__fritsche{
    background-color: #FFC6E1;
}

.overview__container{
    display: flex;
    justify-content: space-between;
    margin: 32px 0 80px 0;
}


.overview__container--right{
    width: 46%;
}

.overview__container--left{
    width: 46%;
}

.article__fullbg{
    background-color: #FDF3FF;
    padding: 60px 0;
    margin: 60px auto 60px auto;
}


/* Page case studies */

.overview__container{
    display: flex;
}


.about__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.about__img{
    width: 100% !important;
}

.about--img--container{
    margin-bottom: 60px;

}



.about__text{
    width: 460px;
}

.article__image__container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px auto 80px auto;
    width: 1272px;
}

.article__image__container--fullbg{
    display:flex;
    justify-content: center;
}

.article__singleimage__container{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.fritsche__img--home--mobile{
    display: none;
}


/* fritsche  */

.heroimage__fruitly{
    background-color: #D7FFC5;
}

.fritsche__img--oldflow{
    width: 376px;
    margin-right:80px;
}

.fritsche__img--newflow{
    width: 715px;
}

.fritsche__img--oldindex{
    width: 581px;
}

.fritsche__img--newindex{
    width: 634px;

}

.casestudies__list__img{
    border-radius: 4px;
}

.fritsche__img--home{
    width: 1272px;
    margin: 0;
}

.fritsche__img--oldservices{
    width:380px;

}

.fritsche__bussiness__item{
    margin-bottom: 60px;
}

.fritsche__bussiness__item:last-child{
    margin-bottom: 0;
}

.fritsche__img--services{
    width:  380px;

}

.fritsche__img--singleservices{
    width:380px; 
    max-height: 523.29px;
    object-fit: contain;
}

.fritsche__img--branding{
    width: 920px;
    margin: 30px 0;
}

.fritsche__img--responsive1{
    width:1272px ;
    margin: 30px 0;
}

.fritsche__img__responsive--mobile{
    display: none;
}

.fritsche__img--responsive2{
    width:1272px ;
    margin-bottom: 80px;
}

.fritsche__img--branding--mobile {
    display: none;
}

.fritsche__learnings__list{
    padding-left: 60px;
}

.fritsche__learnings__list__item{
    list-style-type: disc;
    margin-bottom: 16px;
}

.fritsche__learnings__list__item:last-child{
    margin-bottom: 0;
}

.fritsche__learnings{
    margin-bottom: 80px;
}


/* fruitly */

.fruitly__problems__list{
    padding-left: 60px;
}

.fruitly__problems__list__item{
    list-style-type: disc;
    margin-bottom: 16px;
}

.fruitly__container--background{
    margin-bottom: 80px;
}


.fruitly__finding__list__item{
    margin-bottom: 60px;
}
.fruitly__finding__list__item:last-child{
    margin-bottom: 0;

}


.fruitly__prototype--list--item{
    list-style-type: disc;
    margin-bottom: 16px;
}

.divided__container{
    display: flex;
}

.fruitly__figmaprotoype{
    width: 100%;
    height: 800px;
    margin-bottom: 80px;
}

.fruitly__styleguide{
    margin-right: 80px;
}

.heroimage__gemeinsam{
    background-color: #E4E4F8 ;
}
.gemeinsam__video__oldhome{
    width: 600px;
    margin: 0 auto;
}

.article__heroimage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fruity__takeaways__list__item{
    list-style-type: disc;
    margin-bottom: 16px;
}

.fruity__takeaways__list{
   margin-left: 60px;
}

.gemeinsam__research__questions__list{
    padding-left: 60px;
    display: flex;
    justify-content: center;
}

.gemeinsam__research__questions__item{
    list-style-type: disc;
    margin-bottom: 8px;
}

.gemeinsam__question__list--container{
    margin-right: 60px;
}

.gemeinsam__ideation__item{
    list-style-type: disc;
    margin-bottom: 8px;
}

li p{
    margin: 0;
}

.gemeinsam__ideation__list{
    padding-left:  60px;
}

.gemeinsam__learnings--margin{
    margin: 60px 0;
}

.text__toughts{
    font-size: 22px;
    padding: 0 60px;
    font-style: italic;
    font-weight: bold;
}

.margin--bottom--small{
    margin-bottom: 32px;
}

.casestudies__list--YMRT{
    display: none;
}
.casestudies__list{
    margin-bottom: 120px;
}

.fritsche__img--newflow--mobile{
    display: none;
}

.article__image__code{
    margin-top: 80px;
}

.heroimage__uilibrary{
    background-color: #D5F9E3;
}







@media only screen and              (max-width: 920px) {
    
    
    
    .container{
      width: 80%;
    }


    .home__intro{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 auto 120px auto;
        }

     
        .home__intro__container {
            width: 80%;
        }

        h1{
            font-size: 40px;
            line-height: 60px;
        }

        .cta__container img{
            width: 24px !important;
        }



    .article__heroimage img{
        width: 50vw !important;
    }

    .casestudies__list__img img{
        width: 38vw !important;
    }
    

    .casestudies__decription{
        display: block;
    
    }

    .footer__container{
        display: block;
    }

    nav{
        width: 80%;
        justify-content: flex-start;
    }

    .casestudies__decription--text{
        width: 100%;
    }

   .about__container{
       display: block;
   }

   .about__img{
       width: 300px;
       object-fit: cover;
       margin-bottom: 32px;
   }

   .about__text{
       width: 100%;
   }


   .casestudies__list--item{
    width: 100%;
    margin: 0 auto 80px auto;

}


   img{
       width: 80vw !important;
   }
    .overview__container{
    display: block;
    }


    .overview__container--right{
        width: 100%
    }

    .overview__container--left{
        width: 100%

    }

    .article__image__container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 32px auto 32px auto;
    }
    
    .article__image__container--fullbg{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .article__singleimage__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }


    

    .fritsche__img--responsive1{
        display: none;

    }

    .fritsche__img--responsive2{
        display: none;
    }

    .fritsche__img__responsive--mobile{
        display: block;
    }

    .fritsche__img--home{
        display: none;
    }

    .fritsche__img--home--mobile{
        display: block;
        margin: 0 auto 32px auto;
    }

    .fritsche__img--branding {
        display: none;
    }
    
    .fritsche__img--oldflow{
        display: none;
    }

   .fritsche__img--newflow{
       display: none;
   }

   .fritsche__img--newflow--mobile{
       display: block;
       margin: 0 auto;
   }

   .article__fullbg{
       padding: 32px 0;
       margin: 32px auto 32px auto;
   }

   .about__img{
       margin: 0 auto;

   }

   .nav__about--mobile{
    margin-bottom: 60px;
}

   .article__heroimage {
       height: 300px;
   }

   .fritsche__img--oldindex{
       margin: 0 auto 32px auto;
   }

   .fritsche__img--oldservices{
        margin: 0 auto 32px auto;

   }

   .fritsche__img--services{
        margin: 0 auto 32px auto;
   }

   .fruitly__img--persona1{
        margin: 0 auto 32px auto;
   }

   .fruitly__img--userflow{
        margin: 0 auto 32px auto;

   }

   .divided__container--fruitlyprototype{
       flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
   }

    .fruitly__img--papperprorotype1 .fruitly__img--papperprorotype2{
         width: 100%  !important ;
    }

    .margin--bottom{
    margin-bottom: 32px;
    }

    .fritsche__learnings__list{
        padding-left: 32px;
    }

    .fruitly__problems__list{
        padding-left: 32px;

        
    }

    .fruitly__prototype--list{
        padding-left: 32px;
        width: 100%;
    }

    .gemeinsam__video--oldhome{
        width: 80vw;
    }
    
    .img__subtitle{
        margin: 8px 0;
    }

    .gemeinsam__research__questions__list{
        flex-direction: column;
    }

    .gemeinsam__ideation__list{
        padding-left: 32px;
    }
    
    .text__toughts{
        padding: 0;
    }



    .copyright{
        justify-content: center ;
    }
    .copyright p{
        width: 80%;
    }

    
    .casestudies__list {
        margin-bottom: 60px;
    }

    .home__intro--img{
        margin-bottom: 60px;
    }


}

@media only screen and              (max-width: 500px) {


    .article__heroimage img{
        width: 70vw !important;
    }

    .casestudies__list__img img{
        width: 70vw !important;
    }
    

}